@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>

<div class="form-check">
@*    <input class="form-check-input" type="checkbox" @onchange="@(e => ShowFooter = (bool)e.Value)">*@
    <input class="form-check-input" type="checkbox" @bind="ShowFooter">
    <label class="form-check-label">
        Show Footer
    </label>
</div>

@if (Employees == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="row">
        @foreach (var e in Employees)
        {
            <DisplayEmployee Employee="e" ShowFooter="ShowFooter"></DisplayEmployee>
        }
    </div>
}




